@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

body {
  background-color: #e3e9ff;
  color: #8693bc;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Tilt Warp", cursive;
}
